<!doctype html>

<html lang="en">


<head>
    <meta charset="utf-8">
    <title>Smart Assistant</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

   
    <link rel="stylesheet" href="static/vendors/bootstrap/dist/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="static/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/vendors/themify-icons/css/themify-icons.css">
   
    <!-- <link rel="stylesheet" href="static/vendors/jqvmap/dist/jqvmap.min.css"> -->
     <!-- <link rel="stylesheet" href="https://taniarascia.github.io/primitive/css/main.min.css">
 -->

    <link rel="stylesheet" href="static/css/primitive.css">
    <link rel="stylesheet" href="static/assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


    <!-- <script src="static/js/scripts.js"></script> -->


        <script>

                $(document).ready(function(){
                  // Add smooth scrolling to all links
                  $("a").on('click', function(event) {

                    // Make sure this.hash has a value before overriding default behavior
                    if (this.hash !== "") {
                      // Prevent default anchor click behavior
                      event.preventDefault();

                      // Store hash
                      var hash = this.hash;

                      // Using jQuery's animate() method to add smooth page scroll
                      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                      $('html, body').animate({
                        scrollTop: $(hash).offset().top
                      }, 800, function(){
                   
                        // Add hash (#) to URL when done scrolling (default click behavior)
                        window.location.hash = hash;
                      });
                    } // End if
                  });
                });
        </script>
</head>

<body>


    <!-- Left Panel -->

    <aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">

<br>
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="./"><img src="static/images/Logo.jpg" alt="Logo"></a>
                <a class="navbar-brand hidden" href="./"><img src="static/images/logo1.jpg" alt="Logo1"></a>
            </div>
            <br> <br>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                   <!--  <li class="active">
                        <a href="index.html"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                    </li> -->
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-tasks"></i>Meetings</a>
                        <ul class="sub-menu children dropdown-menu">
                           <li><i class="menu-icon fa fa-tasks"></i><a href="http://localhost:5000/dash">Schedule a New Meeting</a></li>
                            <li><i class="menu-icon fa fa-tasks"></i><a href="http://localhost:5000/meetings">Scheduled Meetings</a></li>

                            <li><i class="menu-icon fa fa-tasks"></i><a href="http://localhost:5000/rescheduled">Rescheduled Meetings</a></li>

                            <li> <i class="menu-icon fa fa-tasks"></i><a href="http://localhost:5000/DelMeet"> Delete</a></li>

                            <li> <i class="menu-icon fa fa-tasks"></i><a href="http://localhost:5000/today"> TodayMeeting</a></li>

                        </ul>
                    </li>
                    <li>
                        <a  href="http://localhost:5000/profile"> <i class="menu-icon ti-email"></i>My Profile </a>
                    </li>

                    <li> 
                      <a href="http://localhost:5000/infer"> <i class="menu-icon fa fa-search"></i>Search</a>
                  </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">
                       
                    </div>
                </div>





                <div class="col-sm-5">
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="static/images/profile.jpg" alt="User">
                        </a>

                       <div class="user-menu dropdown-menu">

                            <a class="nav-link" href="#"><i class="fa fa-user"></i> {{gloVar}}</a>
                            <a class="nav-link" href="/profile"><i class="fa fa-user"></i> My Profile</a>

                            <a class="nav-link" href="/today"><i class="fa fa-user"></i> Notifcation<span class="count">{{lenToday}}</span></a>

                            <a class="nav-link" href="#"><i class="fa fa-cog"></i> Settings</a>

                            <a class="nav-link" href="http://localhost:5000/"><i class="fa fa-power-off"></i> Logout</a>
                        </div>
                    </div>
                </div>
            </div>

        </header><!-- /header -->





        <!-- Main Body starts -->

        <div class="content mt-3" style="background-color: #fbfbfb"> 
 

            <!-- <div class="col-sm-12">
                <div class="alert  alert-success alert-dismissible fade show" role="alert">
                    <span class="badge badge-pill badge-success">Success</span> Your account is activated!
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div> -->

            <div class="col-sm-12" style="background-color: #fbfbfb">
                <h3 style="color: #0197e1; background-color: #fbfbfb; margin-top: 
                10px; margin-bottom: 20px;">Schedule Your Meeting</h2>
            </div>


            <!-- inserting new objects -->


            <div class="col-md-12">
                <div class="col-md-8" style="background-color: #444; height: 440px;">

                    <div class="alert alert-success" role="alert" style="height: 350px; margin-top: 10px; background-color:#E3E3E3; overflow: auto;">
                    <h4 class="alert-heading" id = "hText" style="color: black; font-weight: lighter;">

<!-- CODE FOR AGENDA -->
                           
     <form action = "" method="POST" id = "myFormFyp">
    <div>
        <label> Agenda Title: </label>
        <input class="form-control" type="text" name="agtitle" value="{{agTitle}}" style="width: 300px">
    </div>

    <div>
        <label> Project Name: </label>
        <input class="form-control" type="text" name="pName" value="{{agName}}" style="width: 300px">
    </div>

    <div>
        <label> Project Detail: </label>
        <input class="form-control" type="text" name="detail" value="{{agDetail}}" style="width: 300px">
    </div>

    <div>
        <label> No of Members: </label>
        <input class="form-control" type="text" name="noofmems" value="{{agNoOfMems}}" style="width: 300px">
    </div>

    <div>
        <label> Supervisor: </label>
        <input class="form-control" type="text" name="supervisor" value="{{agSupervisor}}" style="width: 300px">
    </div>

    <div>
        <label> Second Supervisor: </label>
        <input class="form-control" type="text" name="sec_supervisor" value="{{agSecSupervisor}}" style="width: 300px">
    </div>


<!--     <label> Members: </label> -->
<!--     <select name="{{ipAg}}" method='GET' action="/">
    {% for r in ipAg %}
    <option value= "{{r}}" SELECTED>{{r}}</option>"
    {% endfor %}
    </select> -->

    <div class="row">
        
    <div class="col-md-12">
        <label> Members (Registrations No): </label>
        <div class="col-md-3">
        <input class="form-control" type="text" name="mem1" style="width: 170px">
        </div>
        <div class="col-md-3">
        <input class="form-control" type="text" name="mem2" style="width: 170px">
        </div>
        <div class="col-md-3">
        <input class="form-control" type="text" name="mem3" style="width: 170px">
        </div>
        <div class="col-md-3">
        <input class="form-control" type="text" name="mem4" style="width: 170px">
        </div> 
    </div>
    </div>

    <div>
        <label> Members of the Meeting (Other Members) : </label>
        <select id="mydropdown" multiple name="memdrop">
              {% for itn in ipMem %}
                         
                            
            <option>{{itn}}</option>
                            
                            
              {% endfor %}
        </select>
    </div>

    <div class="col-6 col-md-3">
        <BUTTON  class="btn btn-block btn-lg btn-primary" style="height: 40px; color:white; background-color: #0197e1; vertical-align: center; padding-top: 5px; margin-right: 0px; font-weight: bold;"> Store  </BUTTON>
    </div>


</form>





     

                        </h4>
                    </div>


             <!--        <form action = "" method="POST" id = "myForm">
                            <div class="form-group">
                                <div class="input-group" style="background-color: #0197e1; height: 40px; padding-right: 0px;">
                                    <input class="form-control" name="text_store" id = "inputText" style="height: 40px;" placeholder="Start Scheduling" 
                                    value = "{{showText}}">
                                    <div class="col-6 col-md-3">
                                        <BUTTON  class="btn btn-block btn-lg btn-primary" style="height: 40px; color:white; background-color: #0197e1; vertical-align: center; padding-top: 5px; margin-right: 0px; font-weight: bold;"> Submit </BUTTON>
                                    </div>
                                </div>
                            </div>
                    </form> -->
                </div>
                <div class="col-md-4" style="background-color: #444; height: 440px;">
                    <div class="alert alert-success" role="alert" style="height: 350px; margin-top: 10px; background-color:#E3E3E3;" >
                    <h4 class="alert-heading" id = "hText">

                           
                            

                              <!-- this is Suggestions -->


<!-- 
                            <table>

                             {% for itn in ctempTime6 %}
                         
                            <tr>
                               <td> -->









                            <form action = "" method="POST" id = "myForm">

                                <div class="input-group">
                                    <input class="form-control" value = "{{itn}}" name = "SuggestText" style="height: 40px; background-color: #E3E3E3; border-color: #0197e1; border-radius: 2;" disabled="true" 
                                    >
                                    <span class="input-group-btn" style="height: 40px;">
                                        <button class="btn btn-primary" style="background-color: #0197e1; font-weight: bold; height: 40px;">Select</button>
                                    </span>
                                </div>
                            </form>


                                


                            <!-- <div class="col-md-12" style="background-color: green; height: 40px;"> -->


                               <!--  <div class="col-md-8" style="background-color: yellow; height: 40px;"> 


                                </div>
                                <div class="col-md-4" style="background-color: blue; height: 40px;">  


                                </div>
 -->
               <!--              </div>
                            </form>
                            </div>

                               </td>
                            </tr>
                            
                             {% endfor %}
                            </table> -->
                    </h4>
                    </div>
                    <div style="background-color: #444;">
                        <h4 style="color: #0197e1; text-align: center; padding-top: 5px;">Suggestions</h4>
                    </div>




<!--  -->


           
        
        </div>
   <!--  <div class="col-6 col-md-3"><form action="http://localhost:5000/res">
    <input type="submit" value="Check Status" class="btn btn-block btn-lg grey" />
</form></div> -->

      

    



<!-- <div class="small-container">
    <script src="static/js/scripts.js"></script>
    <h1>New Tab App</h1>

    <form>
      <input id="item" type="text" placeholder="New">
    </form>

    <h2>Items</h2>
    <ul></ul>

    <button>Clear All</button>
  </div>

  



<script >
    var myarr = ["A" , "B", "C" , "D"];

    function pushArray(){
        var input_Text = document.getElementById('inputText').value;
        myarr.push(input_Text);
        var pval = "";
        for ( i=0 ; i< myarr.length ; i++){
            pval = pval +myarr[i] +"<br/>";

        }

        document.getElementById("hText").innerHTML  = pval
    }
</script> -->
                    




<!-- <form>
      <input id="item" type="text" placeholder="New">
    </form>
                </div>
                <h2>Items</h2>
                  <ul>
                     
                  </ul>


                  <button>Clear All</button> -->

<!--  <script src="static/showback/js/scripts.js"></script> -->
<!-- 








                    <form action = "" method="POST" id = "myFormPrompt">
             <div class="form-group">
                <label class=" form-control-label">Enter Missing Information</label>
                    <div class="input-group"style="width:1100px">
                        <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                            <input class="form-control" name="text_store_Prompt">
                        <div class="col-6 col-md-3">
                  <input type="submit" name="submitPrompt" value= "submitPrompt" class="btn btn-block btn-lg btn-primary">
                </div>
                    </div>
                </div>
            </form> -->

                    <!-- <div class="alert alert-warning" role="alert">
                        <h4 class="alert-heading">...</h4>
                        
                    </div> -->



 


<!-- </br> <br>
                    <h3>ShowName!</h3> <br>

                                       <div class="alert alert-success" role="alert">
                        <h4 class="alert-heading">

                            {{showName}}
                            
                              
                        </h4>
                    </div>

                
            </div>

    </div> -->


        <!-- /#right-panel -->

    <!-- Right Panel -->

    <script src="static/vendors/jquery/dist/jquery.min.js"></script>
    <script src="static/vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="static/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="static/assets/js/main.js"></script>
  <!--   <script src="static/js/scripts.js"></script>

 -->
    <script src="static/vendors/chart.js/dist/Chart.bundle.min.js"></script>
    <script src="static/assets/js/dashboard.js"></script>
    <script src="static/assets/js/widgets.js"></script>
    <script src="static/vendors/jqvmap/dist/jquery.vmap.min.js"></script>
    <script src="static/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <script src="static/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script>
        (function($) {
            "use strict";

            jQuery('#vmap').vectorMap({
                map: 'world_en',
                backgroundColor: null,
                color: '#ffffff',
                hoverOpacity: 0.7,
                selectedColor: '#1de9b6',
                enableZoom: true,
                showTooltip: true,
                values: sample_data,
                scaleColors: ['#1de9b6', '#03a9f5'],
                normalizeFunction: 'polynomial'
            });
        })(jQuery);
    </script>

</body>

</html>
