<!DOCTYPE html>
<html>
<head>
    <title></title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="static/css/loginO.css">
</head>
<body>


<!-- Include the above in your HEAD tag -->

<div class="sidenav">
    <a href="http://localhost:5000/" style="color: white; font-size: 25px;
     margin-left: 20px;">Meeting Scheduler</a>
         <div class="login-main-text">

            <h2>Login Page</h2>
            <p>Login or register from here to access.</p>
         </div>
      </div>
      <div class="main">
         <div class="col-md-6">
            <div class="login-form">
                <form role="form" action="" method="POST"  class="registration-form">



                                        <div class="form-group">
                                            <label style="font-weight: bold; font-size: 18px;">Email</label> 
                                            <input type="text" placeholder=" Username" name="login_email" value="{{
                                              request.form.username }}" style="width: 400px; height: 40px;">
                                        </div>

                                        <div class="form-group">
                                            <label style="font-weight: bold;  font-size: 18px;">Password</label> <br>
                                            <input type="password" placeholder=" Password" name="login_pass" value="{{
                                                request.form.password }}" style="width: 400px; height: 40px;">
                                        </div>




                                       <!--  <form> -->

   
                                        <button type="submit" class="btn" value="Login" style="color: white; font-weight: bold;width: 100px; height: 40px; background-color: black; align-self: center;">Login</button>

                 <!--  <div class="form-group">
                     <label>User Name</label>
                     <input type="text" class="form-control" placeholder="User Name">
                  </div>
                  <div class="form-group">
                     <label>Password</label>
                     <input type="password" class="form-control" placeholder="Password">
                  </div>
                  <button type="submit" class="btn btn-black" style="font-weight: bold;">Login</button> -->
                  <!-- <button type="submit" class="btn btn-secondary">Register</button> -->
               </form>
                {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
            </div>
         </div>
      </div>

</body>
</html>