<!DOCTYPE html>
<html>
<head>
    <title></title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="static/css/signupO.css">
</head>
<body>


<!-- Include the above in your HEAD tag -->

<div class="sidenav" style="height: 100px">
      <a href="http://localhost:5000/" style="color: white; font-size: 25px;
       margin-left: 10px;">Meeting Scheduler</a>
         <!-- <div class="login-main-text">
            <br>
            <h2>Register</h2>
            <p>        Register from here to access</p>
         </div> -->
</div>

<div >
  
</div>


      <div class="main"   >
         <div class="col-md-6" >
            <div class="login-form">
              <form role="form" action="/reg" method="POST"  class="registration-form">
             <!--    <div class="row">
                    <div class="col-md-6" style="background-color: red; height: 50px;">
                      
                    </div>
                    <div class="col-md-6" style="background-color: green; height: 50px;">
                      
                    </div>
                </div> -->

                                        <div class="form-group">
                                            <label style="font-weight: bold; font-size: 18px;">Username</label>
                                            <!-- <label class="sr-only" for="form-first-name">UserName</label> -->
                                            <input type="text" name="uname" placeholder="Username" class="form-first-name form-control" id="form-first-name">
                                        </div>

                                        <div class="form-group">
                                            <label style="font-weight: bold; font-size: 18px;">First name</label>
                                            <input type="text" name="fname" placeholder="Firstname" class="form-first-name form-control" id="form-first-name">
                                        </div>
                                        <div class="form-group">
                                            <label style="font-weight: bold; font-size: 18px;">Last name</label>
                                            <input type="text" name="lname" placeholder="Lastname" class="form-last-name form-control" id="form-last-name">
                                        </div>
                                        <div class="form-group">
                                            <label style="font-weight: bold; font-size: 18px;">Email</label>
                                            <input type="text" name="email" placeholder="E-mail" class="form-email form-control" id="form-email">
                                        </div>

                                         <div class="form-group">
                                            <label style="font-weight: bold; font-size: 18px;">Password</label>
                                            <input type="password" name="password" placeholder="Password" class="form-email form-control" id="form-email">
                                        </div>

                                         <div class="form-group">
                                            <label style="font-weight: bold; font-size: 18px;">Cell No.</label>
                                            <input type="Number" name="pnumber" placeholder="Cell No." class="form-email form-control" id="form-email">
                                        </div>


<div class = "form-control">


                                     &nbsp  &nbsp  &nbsp   <label class="radio-inline">
      <input type="radio" name="typer" onclick="javascript:yesnoCheck();" 
      value = "student" id="studentCheck" checked> Student
    </label>


    <label class="radio-inline">
      <input type="radio" name="typer"onclick="javascript:yesnoCheck();" 
       value = "teacher" id="techCheck">Teacher
    </label>
    
</div>

<div id="ifYes" style="visibility:hidden">
        From: <input type='text' id='from' name='from'> To: <input type='text' id='to' name='to'>
        <br>
      
    </div>

<form>

   
                                        <button type="submit" class="btn" style="color: white; font-weight: bold;width: 100px; height: 40px; background-color: black; align-self: center; margin-top: 20px;">Sign Up</button>
                                        <br><br>
<br>
<br>
<br>

                                    </form>





              <!--   <div class="form-group">
                     <label>User Name</label>
                     <input type="text" class="form-control" placeholder="User Name">
                  </div>
                  
                    <div class="form-group">
                     <label>Password</label>
                     <input type="password" class="form-control" placeholder="Password">
                  </div>

                    
                  
                  <div class="form-group">
                     <label>Name</label>
                     <input type="password" class="form-control" placeholder="Password">
                  </div>
                  <div class="form-group">
                     <label>Father</label>
                     <input type="password" class="form-control" placeholder="Password">
                  </div> -->
                  <!-- <button type="submit" class="btn btn-black" style="font-weight: bold;">Login</button> -->
                 <!--  <button type="submit" class="btn btn-black" style="font-weight: bold;">Register</button> -->
               </form>


               <script type="text/javascript">

function yesnoCheck() {
    if (document.getElementById('techCheck').checked) {
        document.getElementById('ifYes').style.visibility = 'visible';
    }
    else document.getElementById('ifYes').style.visibility = 'hidden';

}

</script>

        
      
            </div>
         </div>
      </div>

</body>
</html>