<html>
  <head>
    <title>Flask Intro - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="static/assets_form/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/assets_form/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/assets_form/css/form-elements.css">
        <link rel="stylesheet" href="static/assets_form/css/style.css">


          <link rel="shortcut icon" href="static/assets_form/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/assets_form/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/assets_form/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/assets_form/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="static/assets_form/ico/apple-touch-icon-57-precomposed.png">

    <!-- <link href="static/bootstrap.min.css" rel="stylesheet" media="screen"> -->
  </head>
  <body>
<!--     <div class="container">
      <h1>Please login</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Username" name="login_email" value="{{
          request.form.username }}">
         <input type="password" placeholder="Password" name="login_pass" value="{{
          request.form.password }}">
        <input  class="btn btn-default" type="submit" value="Login">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div> -->




      <div class="col-md-12" style="background-color: #fbfbfb">
            <div class="col-md-3" style="background-color: #444; height: 810px;"></div>
            <div class="col-md-6" style="background-color: #fbfbfb">
              <br><br><br><br>
                
                <div class="form-box" style="width: 450px; align-self: center; margin-left: 90px; margin-right: 90px;">
                                <div class="form-top">
                                    <h3 style="color: white; font-weight: bold; padding-top: 30px;">Login</h3>
                                        <p style="color: white; font-weight: normal; ">Fill in the form below to get instant access:</p>
                                    <!-- <div class="form-top-left">
                                        
                                    </div> -->
                                    <!-- <div class="form-top-right">
                                        <i class="fa fa-pencil"></i>
                                    </div> -->
                                </div>
                                <div class="form-bottom">
                                    <form role="form" action="" method="POST"  class="registration-form">

                                        <div class="form-group">
                                            <label class="sr-only" for="form-first-name">UserName</label>
                                            <input type="text" placeholder="Username" name="login_email" value="{{
                                              request.form.username }}">
                                        </div>

                                        <div class="form-group">
                                            <label class="sr-only" for="form-first-name">Password</label>
                                            <input type="password" placeholder="Password" name="login_pass" value="{{
          request.form.password }}">
                                        </div>
                            
                                     <!--    <div class="form-group">
                                            <label class="sr-only" for="form-last-name">Last name</label>
                                            <input type="text" name="lname" placeholder="Last name..." class="form-last-name form-control" id="form-last-name">
                                        </div> -->
                                   <!--      <div class="form-group">
                                            <label class="sr-only" for="form-email">Email</label>
                                            <input type="text" name="email" placeholder="Email..." class="form-email form-control" id="form-email">
                                        </div>

                                         <div class="form-group">
                                            <label class="sr-only" for="form-email">Password</label>
                                            <input type="password" name="password" placeholder="Password..." class="form-email form-control" id="form-email">
                                        </div> -->

                                    <!--      <div class="form-group">
                                            <label class="sr-only" for="form-email">Number</label>
                                            <input type="Number" name="pnumber" placeholder="Enter Yur Number..." class="form-email form-control" id="form-email">
                                        </div> -->


<!-- <div class = "form-control">


                                     &nbsp  &nbsp  &nbsp   <label class="radio-inline">
      <input type="radio" name="optradio" checked> Student
    </label>


    <label class="radio-inline">
      <input type="radio" name="optradio">Teacher
    </label>
    <label class="radio-inline">
      <input type="radio" name="optradio">Other
    </label>
</div> -->

</br>



                                        <form>

   
                                        <button type="submit" class="btn" value="Login" style="color: white; font-weight: bold; font-size: 20px; background-color: #0197e1; align-self: center;">Login</button>
                                    </form>
                                </div>
                                {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
                            </div>



            </div>
            <div class="col-md-3" style="background-color: #444; height: 810px;" ></div>
        </div>

  </body>
</html>